.Custom-bg{
  background-color: aliceblue;
  color: black;
  width: 280px;
}

.customH{
  height: 50px;
  width: 50px;
}

.custom{
  background-color: pink;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding: 10px;
}


body{
  margin: 0;
  padding: 0;
}